.git
.gitignore
.github

**/__pycache__
**/*.pyc
backend/.venv
.pytest_cache

frontend/node_modules
frontend/dist
frontend/tsconfig.tsbuildinfo

.env
.env.*
!.env.example

tests

.replit
*.md

docker-compose*.yml
